@media (max-width: 1250px) {

    /* Sobre mí*/
    .seccion-perfil {
        height: 500px;
    }

    .seccion-perfil {
        flex-direction: column;
        align-items: center;
    }

    .text-perfil {
        padding: 20px;
    }

    .text-perfil p {
        padding: 20px;
    }

    .seccion-perfil h2 {
        font-size: 55px;
        top: auto;
        bottom: 30%;
    }

    .img-perfil {
        width: 50% !important;
    }

    .seccion-perfil p {
        top: auto;
        bottom: 30%;
        right: auto;
    }

    .botones-sobre-mi {
        margin: 0 20px;
        flex-direction: row;
        align-items: center;
        gap: 20px
    }

    /* Portafolio */
    .portafolio {
        padding: 10px;
    }

    .titulo-portafolio h1 {
        font-size: 40px;
    }

    .titulo-portafolio p {
        margin: 0 2%;
    }

    .titulo-portafolio {
        padding: 30px 10px 10px;
    }

    .img-proyectos {
        width: 100%;
        padding-bottom: 10px
    }

    /* Footer */
    .logo-footer {
        width: 20%;
        padding-bottom: 30px;
    }

    .footer {
        flex-direction: column;
        padding: 20px;
    }

    /* Header */
    .header {
        display: none;
    }

    .header-mobile {
        background-color: $color-negro;
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }

    .logo-header {
        width: 15%;
    }

    .boton-hamburguesa-mobile {
        background-color: $color-negro !important;
        color: $color-blanco;
    }

    /* Servicios */
    .servicios-page {
        padding: 10px;
    }

    .titulo-servicios p {
        margin: 2%;
    }

    .titulo-servicios {
        padding: 30px 10px 10px;
    }

    .titulo-servicios h1 {
        font-size: 50px;
    }

    .servicios-item {
        flex-direction: column;
    }

    .img-serv {
        width: 100%;
        padding-bottom: 10px
    }

    .servicios-info {
        width: 100%;
        padding: 0;
    }

    .servicios-item-mobile {
        display: flex;
        flex-direction: column-reverse;
    }

    .servicios-info h4 {
        font-size: 25px
    }
}

@media (max-width:687px) {

    /* Index */

    .descripcion-1 h1 {
        font-size: 45px;
    }

    .descripcion-1 h2 {
        font-size: 20px;
    }

    .primera-seccion-index {
        flex-direction: column;
    }

    .descripcion-1,
    .descripcion-2 {
        width: 100%;
    }

    .descripcion-1 {
        text-align: center;
        padding: 50px 20px 50px 20px;
    }

    .sección-portafolio {
        padding: 40px 10px 0;
    }

    .sección-portafolio .sevicios {
        flex-direction: column;
        gap: 30px;
        padding: 10px 0 50px;
        text-align: center;
    }

    .servicio-c,
    .servicio-d,
    .servicio-m {
        margin-top: 0;
    }

    .img-servicios {
        width: 55%;
    }

    .text-ayuda p {
        font-weight: 100;
        text-align: center;
    }

    /* Contacto */
    .formulario-seccion h2 {
        font-size: 40px;
        line-height: 35px;
        margin-bottom: 10px !important;
    }

    .formulario-seccion p {
        font-size: 20px;
        line-height: 25px;
        padding-top: 25px;
        font-weight: 100;
    }

    .caja-size {
        width: 100%;
    }

    /* Sobre mí
    .img-perfil {
        width: 90% !important;
    }*/
}